<div
        dnd-draggable="instanceObject"
        dnd-type="instanceObject.type"
        data-dnd-effect-allowed="copy"
        data-dnd-copied="dropzone.instanceObjects.splice($index, 1)"
        ng-mouseover="isActionIconsShow=true"
        ng-mouseleave="isActionIconsShow=false"
        style="position: relative;"
>
    <!--<dnd-nodrag>
        <div ng-if="isActionIconsShow" style="position: absolute;z-index: 9999;" class="">
            <span dnd-handle class=" glyphicon glyphicon-move"></span>
            <span ng-click="dropzone.objects.splice($index, 1)" class=" glyphicon glyphicon-trash"></span>
        </div>
    </dnd-nodrag>-->
    <div ng-if="instanceObject.templateUrl" ng-include="instanceObject.templateUrl"></div>
    <button ng-if="!instanceObject.templateUrl" type="button" class="btn btn-default" style="margin-bottom:3px">{{originObject.type}}</button>
</div>
